@layer j13b-system {
  :where(.tethered) {
    display: inline-block;
    position: fixed;
    width: auto;
    height: auto;
    left: var(--tethered-left, 0);
    top: var(--tethered-top, 0);
  }
}
